
<% if flash[:error] %>
  <div>
    <p><%= flash[:error] %></p>
  </div>
<% end %>

<%= form_for :session, url: "/sessions" do |f| %>

<%= f.label :username %>
<%= f.text_field :username %>

<%= f.label :password %>
<%= f.text_field :password %>

<%= f.submit "login" %>
<% end %>
