<h2>User Login</h2>
<div>
  <% if flash[:error] %>
    <div>
      <p><%= flash[:error] %></p>
    </div>
  <% end %>

  <%= form_for :session, url: "/sessions/user" do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.text_field :password %>

    <%= f.submit "login" %>
  <% end %>
</div>

<h2>Restaurant Login</h2>
<div>
  <% if flash[:error] %>
    <div>
      <p><%= flash[:error] %></p>
    </div>
  <% end %>

  <%= form_for :session, url: "/sessions/restaurant" do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.text_field :password %>

    <%= f.submit "login" %>
  <% end %>
</div>