  
  <div id="login-title">
    <h1>Welcome to Nostaurant</h1>
  </div>
  
  
  <div class="menu-item">
  <h2>User Login</h2>

    <div class="errors"> 
      <% if flash[:user_error] %>
        <ul>

            <li>  <%= flash[:user_error] %> </li>
        </ul>   
      <% end %> 
    </div>

    <%= form_for :session, url: "/sessions/user" do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.text_field :password %>

      <%= f.submit "login" %>
    <% end %>
  </div>

<div class="menu-item">
  <h2>Restaurant Login</h2>
  <div>
    <div class="errors"> 
      <% if flash[:res_error] %>
        <ul>
            <li>  <%= flash[:res_error] %> </li>
        </ul>   
      <% end %> 
  </div>

    <%= form_for :session, url: "/sessions/restaurant" do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.text_field :password %>

      <%= f.submit "login" %>
    <% end %>
  </div>