<h1>User Show</h1>
<%= render partial: 'user', locals: {user: @user} %>


<div>
  <h3>Open Orders</h3>
  <table>
    <% @open_orders.each do |order| %>
    <%= render partial: 'orders/orders_list', locals: {order: order, restaurant: order.restaurant} %>

    <% end %>
  </table> 

  <%= link_to "All Orders", orders_path  %>
</div>



<h3>Top Restaurants Nearby</h3>
<table>
<% @top_five_restaurants.each do |restaurant|  %>

  <tr>
   <td> <%= link_to restaurant.name, restaurant_path(restaurant) %> </td>
    <td><%= pluralize(restaurant.rating, "Star") %> </td>
  </tr>

<% end %>
</table>

<p><%= link_to "See All Restaurants", restaurants_path %> </p>
