<div class="right column">
<h3>Info</h3>
<%= render partial: 'user', locals: {user: @user} %>
</div>

<div class="left column">
  <h3 class="top-item">Open Orders</h3>
  <table>
    <% @open_orders.each do |order| %>
    <%= render partial: 'orders/orders_list', locals: {order: order, restaurant: order.restaurant} %>

    <% end %>
  </table> 

  <%= link_to "All Orders", orders_path  %>
</div>


<div class="middle column">
<h3>Top Restaurants Nearby</h3>
<table>
<% @top_five_restaurants.each do |restaurant|  %>

  <tr>
   <td> <%= link_to restaurant.name, restaurant_path(restaurant) %> </td>
    <td><%= pluralize(restaurant.rating, "Star") %> </td>
  </tr>

<% end %>
</table>
</div>

