<div class=error-messages> 
    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <li>  <%= error %> </li>
        <% end %>   
    <% end %> 
</div>

<%= form_for order do |f| %>
   <%= f.hidden_field :restaurant_id, value: restaurant.id %>


    <table>
    <%= f.collection_check_boxes :item_ids, items, :id, :name do |i| %>
       
        <%= i.label do %>
        <tr>
            <td><%= i.check_box  %> </td>
            <td><%= i.text %></td>
            <td>$<%= i.object.price %></td>
        </tr>
        <tr>
            <td colspan="3"><%= i.object.description %></td>
        </tr>
        <% end %>
    <% end%>
    </table>
    <%= f.submit %>
<% end %>
  