<div > 
    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <li>  <%= error %> </li>
        <% end %>   
    <% end %> 
</div>

<%= form_for order do |f| %>
   <%= f.hidden_field :restaurant_id, value: restaurant.id %>

    <%= f.collection_check_boxes :item_ids, items, :id, :name do |i| %>
       <div class="menu-item">
        <%= i.label do %>
            <h4><%= i.text %> </h4>
            <p><%= i.object.description %> <p>
            $<%= i.object.price %>
            <%= i.check_box  %> 
        <% end %>
        </div>
    <% end%>
   <div class="user-menu-submit-buttom">
    <%= f.submit %>
    </div>
<% end %>
  