<h1>Order</h1>

<h4>Ordered from <%= link_to @restaurant.name, restaurant_path(@restaurant) %>. <%= @order.status.titleize %> on <%= @order.date %></h4>
<p>Your order is <%=  %></p>
<hr>
<h2>Order Items</h2>

<table>  
  <% @items.each do |item| %>
    <tr>
      <td><%=item.name%></td>
      <td>$<%= item.price %></td>
    </tr>
  <% end %>
  <tr class='total'>
    <strong>
      <td>Total: </td>
      <td>$<%= @order.total_price %></td>
    </strong>
  </tr>

</table>
  
