<div id="order-header">

<h1 id=your-order>Your Order</h1>

<h4 id=delivery-details>Ordered from <%= link_to @restaurant.name, restaurant_path(@restaurant) %>. <%= @order.status.titleize %> on <%= @order.date %></h4>
</div>
<div id="order-body">
<h2>Order Items</h2>

<table class="order-items">  
  <% @items.each do |item| %>
    <tr>
      <td><%=item.name%></td>
      <td>$<%= item.price %></td>
    </tr>
  <% end %>
  <tr class='total'>


      <td>Total: </td>
      <td>$<%= @order.total_price %></td>
  </tr>

</table>
</div>
  
