
<div class="res-info-show-user">
  <ul>
    <li><%= @restaurant.name %></li>
    <li><%= @restaurant.phone_number %></li>
    <li><%= @restaurant.address %></li>
    <li>Rating: <%= pluralize(@restaurant.rating, "stars") %></li>
  </ul>
</div>


<div id="row-three">
  <h2 id="menu-title-for-user">Menu</h2>
</div>

<%= render partial: 'orders/form', locals: {order: @new_order, items: @items, restaurant: @restaurant} %>