<div class="right column">
<h1>Restaurant Show</h1>

<ul>
  <li><%= @restaurant.name %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.address %></li>
  <li>Rating: <%= pluralize(@restaurant.rating, "stars") %></li>
</ul>
</div>


<h3>Open orders</h3>
<div class="left column-res">

  <% @open_orders.each do |order| %>
    <div class="order-info">
      <h3> Customer: <%= order.user.name %>. </h3>
      <p> <%= link_to "#{order.status.titleize} on #{order.updated_at}", order_path(order) %></p>
      <p> $<%= order.total_price %></p>
      <p> <%= order.user.phone_number %></p>
      <p> <td colspan="2"><%= order.user.address %></p>
    </div>
    <div class="status-bts">
      <% order.order_options.each do |option| %>
        <% unless option == order.status %>
        <%= button_to option.titleize, change_order_status_path(order), method: :patch, params: {status_option: option}%>
        <% end %>
      <% end %>
    

    </div>
  <% end %>
  </div>



