<p><%= button_to "Add an item to the menu", new_item_path, method: :get  %></p>
<table>
  <% items.each do |item| %>
    <tr>
      <td>$<%= item.price %></td>
      <td><%= item.name%></td>
      <td><%= item.description %></td>
      <td><%= button_to "edit", edit_item_path(item), method: :get %></td>
      <td><%= button_to "delete", item_path(item), method: :delete %></td>
    </tr>  
  <% end %>
</table>  
