<h1>Edit <%= @item.name %></h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
   <p><%= error %> </p> 
  <% end %>
<% end %>

<%= form_for @item do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.submit %>
<% end %>
<%= button_to "back to menu", items_path, method: :get %>