<!DOCTYPE html>
<html>
  <head>
    <title>Yestaurant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="nav">
      <ul>
       
       
        <% if @current_user %>
          Welcome <%= @current_user.name %>!
          <%= button_to "logout", sessions_logout_path, method: :delete %>
        <% elsif @current_restaurant %>
          Welcome <%= @current_restaurant.name %>!
          <%= button_to "logout", sessions_logout_path, method: :delete %>    
        <% else %>
          <%= button_to "signup", new_user_path, method: :get %>
          <%= button_to "login", new_login_path, method: :get %>
        <% end %>
       
      </ul>
    </div>
    
    <%= yield %>
  </body>

</html>
